In [1]:
#Goal - Select all segments in a given lat/long bounds using the Strava API
#Problem - API only reuturns top 10 segments in bound
import stravalib
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import folium
import os
%matplotlib inline

In [2]:
client = stravalib.client.Client(access_token=os.environ['STRAVA_APICODE'])
athlete = client.get_athlete()
print 'athlete name %s, athlete id %s.' %(athlete.firstname, athlete.id)

athlete name Ryan, athlete id 1705436.

In [3]:
segment_explorer = client.explore_segments([40.681, -89.636, 40.775, -89.504],
                                          activity_type='riding')

In [4]:
from polyline.codec import PolylineCodec
dflist = []

for seg in segment_explorer:
    print 'seg id %s, seg name %s, seg dist %s' % \
           (seg.id, seg.name, seg.distance)

    seg_id = seg.id
    seg_detail = client.get_segment(seg_id)
    newrow = {'seg_id' : int(seg_id),
              'name' : str(seg.name),
              'act_type' : seg_detail.activity_type,
              'elev_low' : float(seg_detail.elevation_low),
              'elev_high' : float(seg_detail.elevation_high),
              'start_lat' : float(seg_detail.start_latitude),
              'start_long' : float(seg_detail.start_longitude),
              'end_lat' : float(seg_detail.end_latitude),
              'end_long' : float(seg_detail.end_longitude),
              'date_created' : seg_detail.created_at,
              'effort_cnt' : int(seg_detail.effort_count),
              'ath_cnt' : int(seg_detail.athlete_count),
              'cat' : int(seg.climb_category),
              'elev_gain' : float(seg.elev_difference),
              'distance' : float(seg.distance),
              'seg_points' : str(seg.points),
              'seg_linestring' : str(PolylineCodec().decode(seg.points))
             }
    dflist.append(newrow)

seg id 4784318, seg name WTF Bridge, seg dist 486.20 m
seg id 5775106, seg name Down and Up, seg dist 495.70 m
seg id 1593922, seg name Oakwood Road Hill, seg dist 289.80 m
seg id 1682962, seg name Grandview Drive Bike Climb, seg dist 1052.30 m
seg id 7768686, seg name Bridge to Glen Sprint, seg dist 1632.40 m
seg id 5159402, seg name Main St., seg dist 560.50 m
seg id 3429437, seg name 24 from 116/150, seg dist 1911.00 m
seg id 2576246, seg name Highview, seg dist 914.80 m
seg id 1720658, seg name Spring Creek Road Climb, seg dist 1086.10 m
seg id 4906820, seg name Coming into ICC, seg dist 1027.50 m

In [5]:
seg_df = pd.DataFrame(dflist)

In [6]:
seg_df.head(1)

,act_type,ath_cnt,cat,date_created,distance,effort_cnt,elev_gain,elev_high,elev_low,end_lat,end_long,name,seg_id,seg_linestring,seg_points,start_lat,start_long
0,Ride,149,0,2013-07-19 02:31:52+00:00,486.2,896,5.2,140.5,135.3,40.686697,-89.592904,WTF Bridge,4784318,"[(40.68257, -89.59088), (40.68669, -89.59291)]",ayhwF~eyaPwXtK,40.682575,-89.59088

In [7]:
seg_df.set_index('seg_id', append=True, inplace=True)

In [8]:
seg_df.head(1)

,,act_type,ath_cnt,cat,date_created,distance,effort_cnt,elev_gain,elev_high,elev_low,end_lat,end_long,name,seg_linestring,seg_points,start_lat,start_long
,seg_id,,,,,,,,,,,,,,,,
0,4784318,Ride,149,0,2013-07-19 02:31:52+00:00,486.2,896,5.2,140.5,135.3,40.686697,-89.592904,WTF Bridge,"[(40.68257, -89.59088), (40.68669, -89.59291)]",ayhwF~eyaPwXtK,40.682575,-89.59088

In [9]:
#Allow display of js in notebook
from IPython.display import Javascript

In [10]:
%%javascript
require.config({
  paths: {
      'mapboxgl': '//api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl'
  }
});

In [11]:
%%javascript
require(['mapboxgl'], function(mapboxgl){
    mapboxgl.accessToken = 'pk.eyJ1IjoicnNiYXVtYW5uIiwiYSI6IjdiOWEzZGIyMGNkOGY3NWQ4ZTBhN2Y5ZGU2Mzg2NDY2In0.jycgv7qwF8MMIWt4cT0RaQ';
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/dark-v8', //stylesheet location
        center: [-89.948470, 40.783860], // starting position
        zoom: 12 // starting zoom 
    });
    element.append("<div id='map'></div>");
});

In [16]:
import berrl as bl
apikey = 'pk.eyJ1IjoicnNiYXVtYW5uIiwiYSI6IjdiOWEzZGIyMGNkOGY3NWQ4ZTBhN2Y5ZGU2Mzg2NDY2In0.jycgv7qwF8MMIWt4cT0RaQ'
bl.make_line(seg_df[['name', 'seg_linestring']],list=True,filename='segdf.geojson')

GeoJSON file written to location: segdf.geojson